/**{
    border-color: red;
    border-style: solid;
    border-width: 1px;
}*/

html {
    font-family: 'Raleway', sans-serif;
}

header,
main,
footer {
    min-height: 20px;
}

header {
    z-index: 5;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    box-shadow: 0 4px 2px -2px gray;
    background-color: #2d3c49;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

main {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 35px;
    padding-top: 80px;
}

footer {
    z-index: 5;
    height: 45px;
    width: 100%;
    box-shadow: 0 -4px 2px -2px gray;
    background-color: #2d3c49;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

img {
    display: block;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: 8pt;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

button,
a {
    margin: 48px 48px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-shadow: 0px 0px 20px #000000;
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

hr {
    width: 90%;
    display: block;
    height: 1px;
    border: 0;
    border-top: 5px solid #7d97ad;
    margin: 1em auto;
    padding: 0;
}

ul {
    list-style-type: none;
    width: 80%;
    font-size: 10px;
    text-align: justify;
    text-overflow: ellipsis;
    margin: auto auto;
    padding: 0;
}

li{
  margin: 10px 0;
}

.exp{
    list-style-type: circle;
}

.exp li{
    margin-right: 30px auto;
}

.skills{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.heading {
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    color: #02b3e4;
    font-size: 10pt;
}

.text {
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    color: #ffffff;
    font-size: 6pt;
}

.intro {
    text-align: justify;
    box-sizing: border-box;
    text-shadow: 0px 0px 20px #000000;
    background-color: #02b3e4;
    background-color: rgba(40, 60, 73, 0.7);
    position: absolute;
    bottom: 0;
    height: 30%;
    width: 100%;
    color: #fff;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bigname {
    display: none;
}

.smallname {
    display: all;
}

.courses {
    color: black;
    text-align: justify;
}

.subsubtitle {
    width: 100%;
    margin: 10px auto;
    font-weight: 400;
    color: #7d97ad;
    font-size: 14pt;
}

.link {
    margin: 0px 0px 0px 0px;
}

.edu {
    width: 80%;
    margin: 0 auto;
}

.topimg {
    width: 100%;
    margin: auto;
}

.abs {
    position: relative;
}

.scroll {
    z-index: 0;
}

.image {
    padding: 4px 4px;
    background-color: #c6c9ce;
    position: relative;
    margin: auto auto auto auto;
    margin-bottom: 20px;
    display: block;
    height: 100%;
}

.img {
    height: 100%;
}

.image-desc {
    margin: 1px;
    background-color: #424a56;
    margin: auto auto auto auto;
}

.images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.images {
    padding: 10px;
}

.images figcaption {
    font-size: 16px;
    text-align: center;
    color: white;
}

.images figcaption a {
    font-size: 8px;
    color: white;
}

.copyright {
    font-size: 8px;
    text-align: right;
    margin-right: 15px;
    height: 10px;
}

.foot {
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.main-content {
    box-shadow: 0px 0px 10px #888888;
}

.logo {
    display: block;
    width: 40px;
    margin: auto;
    margin-top: 20px;
}

.myname {
    font-weight: 400;
    font-size: 17pt;
}

.mydes {
    font-weight: 400;
    font-size: 11pt;
}

.title {
    text-align: right;
    margin-right: 10px;
}

.subtitle {
    width: 90%;
    margin: 30px auto;
    font-weight: 600;
    color: #7d97ad;
    font-size: 14pt;
}

[class*="zocial-"]:before {
    font-family: 'zocial', sans-serif;
}

.twitter {
    color: #0084b4;
}

.facebook {
    color: #3B5998;
}

.gplus {
    color: #dd4b39;
}

.linkedin {
    color: #0077B5;
}

.allsocial{
    width: 200px;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
}
.social * {
    font-size: 15px;
}

.social {
    width: 25%;
    display: block;
    text-align: center;
    height: 20px;
    margin-top: 5px;
}

.col1 {
    width: 8.33%;
}

.col2 {
    width: 16.66%;
}

.col3 {
    width: 25%;
}

.col4 {
    width: 33.33%;
}

.col5 {
    width: 41.66%;
}

.col6 {
    width: 50%;
}

.col7 {
    width: 58.33%;
}

.col8 {
    width: 66.66%;
}

.col9 {
    width: 75%;
}

.col10 {
    width: 83.33%;
}

.col11 {
    width: 91.66%;
}

.col12 {
    width: 100%;
}
