@media screen and (min-width: 451px) {
    .logo {
        width: 40px;
        -webkit-transition: width 0.5s;
        transition: width 0.5s;
    }
    .heading {
        font-size: 12pt;
    }
    .text {
        font-size: 8pt;
    }
    ul{
        font-size: 8pt;
    }
}

@media screen and (min-width: 560px) {
    .image {
        width: calc((100% - 36px)/2);
        margin-left: 5px;
        margin-right: 5px;
        -webkit-transition: width 0.5s;
        transition: width 0.5s;
    }
    table {
        font-size: 10pt;
    }
}

@media screen and (min-width: 600px) {
    .images figcaption a {
        font-size: 10px;
        color: white;
    }
    .heading {
        font-size: 13pt;
    }
    .text {
        font-size: 9pt;
    }
    ul{
        font-size: 9pt;
    }
    .intro {
        height: 25%;
    }
    table {
        font-size: 11pt;
    }
}

@media screen and (min-width: 700px) {
    .heading {
        font-size: 14pt;
    }
    .text {
        font-size: 10pt;
    }
    .subsubheading{
        padding:10px;
    }
    .courses{
        font-weight: 400;
        padding: 10px;
    }
    ul{
        font-size: 10pt;
    }
    table {
        font-size: 12pt;
    }
}

@media screen and (min-width: 830px) {
    .image {
        width: calc((100% - 54px)/3);
        margin-left: 5px;
        margin-right: 5px;
        -webkit-transition: width 0.5s;
        transition: width 0.5s;
    }
}

@media screen and (min-width: 1000px) {
    header {
        width: 1000px;
        height: 120px;
        margin-left: auto;
        margin-right: auto;
    }
    main {
        padding-top: 120px;
    }
    .logo {
        display: block;
        width: 80px;
        margin: auto;
        margin-top: 20px;
        -webkit-transition: width 0.5s;
        transition: width 0.5s;
    }
    .myname {
        font-size: 23pt;
        font-weight: 100;
        -webkit-transition: font-size 0.5s;
        transition: font-size 0.5s;
    }
    .mydes {
        font-size: 14pt;
        -webkit-transition: width 0.5s;
        transition: width 0.5s;
    }
    .bigname {
        display: table-cell;
    }
    .smallname {
        display: none;
    }
    .heading {
        font-size: 15pt;
    }
    .text {
        font-size: 11pt;
    }
    .intro {
        height: 15%;
    }
    ul{
        font-size: 11pt;
    }
}
