.header__menu {
  display: none;
}
.hero, .top-news, .scores, .weather, .recent-news {
  order: 10;
}

@media screen and (max-width: 550px){
    .nav {
        z-index: 10;
        background-color: #fff;
        width: 300px;
        height: 100%;
        position: absolute;
        /* This trasform moves the drawer off canvas. */
        -webkit-transform: translate(-300px, 0);
        transform: translate(-300px, 0);
        /* Optionally, we animate the drawer. */
        transition: transform 0.3s ease;
      }
      .nav.open {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }
      .nav__item {
        display: list-item;
        border-bottom: 1px solid #E0E0E0;
        width: 100%;
        text-align: left;
      }
      .small{
        width: 32px;
        height: 32px;
        padding: 1em;
        filter: invert(100%);
      }
      .sname{
        display: block;
      }
      .lname{
        display: none;
      }
      .snippet__thumbnail{
        display: none;
      }
      .snipper__text{
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }
}

@media screen and (max-width: 750px){
    .weather__today__image{
        width: 80px;
        height: 63px;
    }
    .weather__next__image{
        width: 32px;
        height: 32px;
    }
    .weather__next__item{
        font-size: 10px;
    }
    .weather__today__temp{
        font-size: 26px;
    }
    .weather__today__deg{
        font-size: 20px
    }
}

@media screen and (min-width: 550px){
    .small{
        display: none;
    }
    /*.top-news, .scores, .recent-news{
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    }*/
    .header{
        font-size: 11px;
    }
    .header__logo{
        height: 72px;
    }
    .hero{
        width: 70%;
        order: -2;
    }
    .weather{
        width: 30%;
        order: -1;
    }
    .recent-news{
        width: 100%;
        order: 1;
    }
    .scores{
        width: 70%;
        order: 2;
    }
    .top-news{
        width: 30%;
        order: 3;
    }
}

@media screen and (min-width: 850px){
    .header{
        font-size: 13px;
    }
    .header__logo{
        height: 84px;
    }
    .hero{
        width: 60%;
        order: -2;
    }
    .top-news{
        width: 40%;
        order: -1;
    }
    .scores{
        width: 70%;
        order: 2;
        margin-right: auto;
        margin-left: auto;
    }
    .weather{
        width: 30%;
        order: 1;
    }
    .recent-news{
        width: 70%;
        order: 0;
    }
}

@media screen and (min-width: 1080px){
    main, nav{
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }
}